.container {
    width: 100%;
    height: 100vh;
  }
  
  .header {
    height: 100px; 
    background: #032541;
    display: flex;
    align-items: left;
    justify-content: 0;
    padding: 20px 20px 20px 20px; /* Adjust padding as needed */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  }
  
  .logo {
    width: 200px; /* Adjust size as needed */
    height: 100px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 0px; /* Adjust spacing between menu items */
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif; /* Set font family */
    font-weight: 600; /* Set font weight */
  }
  
  .left-col {
    width: 480px;
    background-color: aquamarine;
  }
  
  .leftt-col {
    width: 480px;
    background-color: rgb(165, 127, 255);
  }
  
  .lefttt-col {
    width: 480px;
    background-color: rgb(127, 214, 255);
  }
  
  .leftttt-col {
    width: 480px;
    background-color: rgb(255, 127, 217);
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
    background: #032541; 
  }
  
  .footer h2 {
    width: 100%;
    margin-top: 20px;
    color: white; /* Set font color */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  }
  
  .footer nav {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-column nav ul {
    padding: 0;
    margin: 0;
    text-align: left; /* Align menu items to the left */
  }
  
  .footer nav ul li {
    margin-bottom: 10px;
    display: block; /* Change display to block */
  }
  
  .footer nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif; /* Set font family */
    font-weight: 600; /* Set font weight */
  }
  
  /* New CSS for column layout */
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
    /* Add CSS for flexbox layout */
    .page_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center items horizontally */
    }
    .card {
        flex: 0 0 auto; /* Reset flex property to default */
        width: 20%; /* Adjust width for desired number of cards per row */
        margin: 10px;
    }

